<ion-view view-title="intro" hide-nav-bar="true">
    <ion-content scroll="false" style="background-image: url('../img/background.png'); background-size: cover;background-position-x: 40%;">
        <div class="row" style="position: relative;height: 100%;">
            <div class="col-90" style="position: absolute;margin: 0 auto;bottom: 5%;right: 0;left: 0;">
                <button class="button icon-left ion-social-facebook button-positive  button-block">Continuar con facebook</button>
            </div>
        </div>
    </ion-content>
</ion-view>